body {
    background-color: #d2b9ff;
    width: 70%;     /* specify a width! */
    margin: 0 auto; /* center */
    text-align: center;
}
#streamInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: lightgoldenrodyellow;
}
button {
    width:100%;
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
}

li {
  list-style-type: urdu;
}
#dfa-diagram {
  width: 75% !important;
}